@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #ffd903;
  color: #3e3e3e;
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
}
